---
import Main from "../layouts/Main.astro"
import Testimonials from "../components/Testimonials.astro"
import Brochure from "../components/Brochure.astro"
import ContactSection from "../components/ContactSection.astro"
---

<Main title="CreativeLoft About">

	<section id="content">
        <div class="content-wrap pb-0">
          <div class="container">
            <div class="row justify-content-between align-items-end">
              <div class="col-md-8">
                <h2 class="display-4 text-dark fw-semibold ls--2">
                  A New Coworking Space Where You Feel at <span>Home</span>.
                </h2>

                <p class="text-dark mb-0">
                  Discover a coworking space designed for comfort and productivity. Enjoy a welcoming environment that fosters creativity and collaboration, where every detail is tailored to make you feel at home.
                </p>
              </div>

              <div class="col-md-3 text-md-end">
                <a
                  href="demo-coworking-price.html"
                  class="button button-rounded button-large m-0 text-center fw-medium text-transform-none ls-0 fw-normal"
                  >Book Your Space Now</a
                >
              </div>
            </div>

            <img
              src="page/coworking/images/about/hero.jpg"
              alt="Image"
              class="rounded-4 my-5"
            />

            <div class="row mt-5 mb-5 gutter-lg-50 align-items-center">
              <div class="col-lg-6 p-lg-5">
                <div class="heading-block border-bottom-0 mb-0">
                  <div class="before-heading">Know More</div>

                  <h2 class="text-transform-none fw-semibold mb-4">
                    Our Story
                  </h2>

                  <p>
                    At the heart of our coworking space is a commitment to fostering collaboration and innovation. We’re dedicated to creating an environment that supports your professional growth and connects you with a vibrant community. Join us as we build a space where ideas flourish and opportunities grow.
                  </p>

                  <div class="row">
                    <div class="col-6 col-sm-6 mb-4">
                      <div class="counter color fw-semibold">
                        <span
                          data-from="1"
                          data-to="3"
                          data-refresh-interval="2"
                          data-speed="600"
                        ></span
                        >+
                      </div>

                      <h5 class="mt-0 fw-medium">Branches</h5>
                    </div>

                    <div class="col-6 col-sm-6 mb-4">
                      <div class="counter color fw-semibold">
                        <span
                          data-from="1"
                          data-to="37"
                          data-refresh-interval="11"
                          data-speed="900"
                        ></span
                        >+
                      </div>

                      <h5 class="mt-0 fw-medium">Single Studios</h5>
                    </div>

                    <div class="col-6 col-sm-6 mb-4">
                      <div class="counter color fw-semibold">
                        <span
                          data-from="1"
                          data-to="21"
                          data-refresh-interval="3"
                          data-speed="1000"
                        ></span
                        >+
                      </div>

                      <h5 class="mt-0 fw-medium">Events per Month</h5>
                    </div>

                    <div class="col-6 col-sm-6 mb-4">
                      <div class="counter color fw-semibold">
                        <span
                          data-from="100"
                          data-to="4500"
                          data-refresh-interval="100"
                          data-speed="1500"
                        ></span
                        >+
                      </div>

                      <h5 class="mt-0 fw-medium">Active Members</h5>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-6 p-lg-5">
                <img src="page/coworking/images/about/1.jpg" alt="Image" />
              </div>
            </div>
          </div>
		  <Testimonials />
		  <Brochure />
		  <ContactSection />
</Main>
