---
import Main from "../layouts/Main.astro"
import ContactSection from "../components/ContactSection.astro"
---

<Main title="CreativeLoft CoWorking Space Contact">

  <section id="content">
    <div class="content-wrap pb-0">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-7">
            <h2 class="display-4 text-dark fw-semibold ls--2 mb-3">
              Contact Us
            </h2>

            <p class="text-dark">
              Reach out to us with any questions or inquiries. We're here to assist you and provide all the information you need about our coworking space. Whether you're interested in membership options, scheduling a tour, or just want to know more about our facilities, our team is ready to help. Get in touch today and let us know how we can support your work and growth.
            </p>

            <div class="form-widget mt-5">
              <div class="form-result"></div>

              <form
                class="mb-0"
                id="template-contactform"
                name="template-contactform"
                action="include/form.php"
                method="post"
              >
                <div class="form-process">
                  <div class="css3-spinner">
                    <div class="css3-spinner-scaler"></div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4 form-group">
                    <label for="template-contactform-name"
                      >Name<small class="text-danger">*</small></label
                    >

                    <input
                      type="text"
                      id="template-contactform-name"
                      name="template-contactform-name"
                      value=""
                      class="form-control required"
                    />
                  </div>

                  <div class="col-md-4 form-group">
                    <label for="template-contactform-email"
                      >Email<small class="text-danger">*</small></label
                    >

                    <input
                      type="email"
                      id="template-contactform-email"
                      name="template-contactform-email"
                      value=""
                      class="required email form-control"
                    />
                  </div>

                  <div class="col-md-4 form-group">
                    <label for="template-contactform-phone"
                      >Phone<small class="text-danger">*</small></label
                    >

                    <input
                      type="text"
                      id="template-contactform-phone"
                      name="template-contactform-phone"
                      value=""
                      class="required form-control"
                    />
                  </div>

                  <div class="w-100"></div>

                  <div class="col-md-4 form-group">
                    <label for="template-contactform-company"
                      >Company</label
                    >

                    <input
                      type="text"
                      id="template-contactform-company"
                      name="company"
                      value=""
                      class="form-control"
                    />
                  </div>

                  <div class="col-md-4 form-group">
                    <label for="template-contactform-workspace"
                      >Workspace<small class="text-danger">*</small></label
                    >

                    <select
                      id="template-contactform-workspace"
                      name="template-contactform-workspace"
                      class="required form-select"
                    >
                      <option value="" disabled="disabled" selected>
                        -- Select One --
                      </option>

                      <option value="Perth">Perth</option>

                      <option value="Sydney">Sydney</option>

                      <option value="Melbourne">Melbourne</option>
                    </select>
                  </div>

                  <div class="col-md-4 form-group">
                    <label for="template-contactform-service"
                      >Interested in<small class="text-danger"
                        >*</small
                      ></label
                    >

                    <select
                      id="template-contactform-service"
                      name="template-contactform-service"
                      class="required form-select"
                    >
                      <option value="" disabled="disabled" selected>
                        -- Select One --
                      </option>

                      <option value="Day Pass">Day Pass</option>

                      <option value="Shared Desk">Shared Desk</option>

                      <option value="Flexible Desk">Flexible Desk</option>

                      <option value="Private Desk">Private Desk</option>
                    </select>
                  </div>

                  <div class="w-100"></div>

                  <div class="col-12 form-group">
                    <label for="template-contactform-message"
                      >Message<small class="text-danger">*</small></label
                    >

                    <textarea
                      class="required form-control"
                      id="template-contactform-message"
                      name="template-contactform-message"
                      rows="6"
                      cols="30"
                    ></textarea>
                  </div>

                  <div class="col-12 form-group d-none">
                    <input
                      type="text"
                      id="template-contactform-botcheck"
                      name="template-contactform-botcheck"
                      value=""
                      class="form-control"
                    />
                  </div>

                  <div class="col-12 form-group">
                    <button
                      class="button button-rounded button-xlarge m-0 text-center fw-medium text-transform-none ls-0 fw-normal"
                      type="submit"
                      id="template-contactform-submit"
                      name="template-contactform-submit"
                      value="submit"
                    >
                      Send Message
                    </button>
                  </div>
                </div>

                <input
                  type="hidden"
                  name="prefix"
                  value="template-contactform-"
                />
              </form>
            </div>
          </div>
        </div>
      </div>
      <ContactSection />
    </div>
  </section>
</Main>
