---
// Import your components here
// import Header from '../components/Header.astro';
import Coworking from './Coworking.astro';
import Rates from './Rates.astro';
import About from './About.astro';
import Contact from './Contact.astro';
import Layout from '../layouts/Layout.astro';
// Import CSS
// import '../styles/global.css';
---

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - Creative Lofts | HekaTek</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/font-icons.css">
    <link rel="stylesheet" href="/swiper.css">
    <link rel="stylesheet" href="/coworking.css">
    <link rel="stylesheet" href="/css/custom.css">
</head>
<body class="stretched">
    <Layout>
    <!-- <main> -->
        <About />
        <Rates />
        <Coworking />
        <Contact />
    <!-- </main> -->
</Layout>
    <script src="/js/plugins.min.js" is:inline></script>
    <script src="/js/functions.bundle.js" is:inline></script>
</body>
</html>
