<div class="container">
    <div
      class="row flex-row-reverse mb-5 gutter-lg-50 align-items-center"
    >
      <div class="col-lg-6 p-lg-5">
        <div class="heading-block border-bottom-0 mb-0">
          <div class="before-heading">Know More</div>

          <h2 class="text-transform-none fw-semibold mb-4">Brochure</h2>

          <p>
            Explore our brochure to learn more about our coworking space. Discover how we offer flexible solutions and create a collaborative environment tailored to your needs.
          </p>

          <a href="#" class="text-dark"
            ><i class="bi-file-earmark-pdf"></i>
            <u>Download Our Brochure</u> <i class="bi-arrow-right"></i
          ></a>
        </div>
      </div>

      <div class="col-lg-6 p-lg-5">
        <img src="page/coworking/images/about/2.jpg" alt="Image" />
      </div>
    </div>
  </div>