
<div
class="section mb-0 pb-0 bg-theme-light"
style="padding-top: 120px"
>
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-1">
      <div class="before-heading">
        Don't Hesitate to Reach out to Us
      </div>

      <h2 class="text-transform-none fw-semibold display-4">
        Want to Talk?
      </h2>

      <h4 class="fw-light mb-4">
        Call us at <a href="tel:(800) 234-5324">(800) 234-5324</a>
      </h4>

      <a
        href="mailto:noreply@canvas.com"
        class="button button-rounded button-xlarge m-0 text-transform-none fw-semibold ls-0 px-5"
        >Email Us</a
      >
    </div>
  </div>
</div>

<img
  src="/page/coworking/images/footer-bg.jpg"
  alt="Footer Image"
  class="footer-img"
/>
</div>
