<div class="container">
    <div class="row justify-content-between">
      <!-- Feature Box

                ============================================= -->

      <div class="col-lg-4 col-md-6 my-4">
        <i
          class="bi-wifi color ms-0 mb-4 i-plain d-block float-none"
        ></i>

        <h4 class="mb-3">Fiber Optic WiFi</h4>

        <p class="text-muted">
          Stay connected with our high-speed fiber optic WiFi available throughout the space, ensuring seamless online experiences.
        </p>
      </div>

      <!-- Feature Box

                ============================================= -->

      <div class="col-lg-4 col-md-6 my-4">
        <i
          class="bi-cup color ms-0 mb-3 i-plain d-block float-none"
        ></i>

        <h4 class="mb-3">Cafeteria</h4>

        <p class="text-muted">
          Enjoy a variety of delicious meals and snacks in our well-equipped cafeteria area, perfect for taking breaks and recharging.
        </p>
      </div>

      <!-- Feature Box

                ============================================= -->

      <div class="col-lg-4 col-md-6 my-4">
        <i
          class="bi-display color ms-0 mb-3 i-plain d-block float-none"
        ></i>

        <h4 class="mb-3">Flexible Desks</h4>

        <p class="text-muted">
          Choose any desk that suits your work style, with options available to accommodate your needs, making it easy to stay productive.
        </p>
      </div>

      <!-- Feature Box

                ============================================= -->

      <div class="col-lg-4 col-md-6 my-4">
        <i
          class="bi-lock color ms-0 mb-3 i-plain d-block float-none"
        ></i>

        <h4 class="mb-3">Lockers</h4>

        <p class="text-muted">
          Secure your personal items in our conveniently located lockers, providing peace of mind and easy access whenever you need.
        </p>
      </div>

      <!-- Feature Box

                ============================================= -->

      <div class="col-lg-4 col-md-6 my-4">
        <i
          class="bi-fingerprint color ms-0 mb-3 i-plain d-block float-none"
        ></i>

        <h4 class="mb-3">100% Secure</h4>

        <p class="text-muted">
          Feel safe and secure with our advanced security systems and measures, designed to protect you and your belongings at all times.
        </p>
      </div>

      <!-- Feature Box

                ============================================= -->

      <div class="col-lg-4 col-md-6 my-4">
        <i
          class="bi-printer color ms-0 mb-3 i-plain d-block float-none"
        ></i>

        <h4 class="mb-3">Printers &amp; Fax</h4>

        <p class="text-muted">
          Access printers and fax machines for all your document needs, ensuring you can handle any printing or communication tasks with ease.
        </p>
      </div>

      <!-- Feature Box

                ============================================= -->

      <div class="col-lg-4 col-md-6 my-4">
        <i
          class="fa-solid fa-couch color ms-0 mb-3 i-plain d-block float-none"
        ></i>

        <h4 class="mb-3">Common Area</h4>

        <p class="text-muted">
          Relax, socialize, or network in our comfortable and spacious common areas, designed to foster a sense of community and collaboration.
        </p>
      </div>

      <!-- Feature Box

                ============================================= -->

      <div class="col-lg-4 col-md-6 my-4">
        <i
          class="bi-clock color ms-0 mb-3 i-plain d-block float-none"
        ></i>

        <h4 class="mb-3">24x7 Access</h4>

        <p class="text-muted">
          Work on your schedule with around-the-clock access to the space, giving you the flexibility to work whenever it suits you best.
        </p>
      </div>

      <!-- Feature Box

                ============================================= -->

      <div class="col-lg-4 col-md-6 my-4">
        <i
          class="bi-controller color ms-0 mb-3 i-plain d-block float-none"
        ></i>

        <h4 class="mb-3">Other Activities</h4>

        <p class="text-muted">
          Participate in a variety of activities and events organized for our members, offering opportunities for learning, networking, and fun.
        </p>
      </div>
    </div>
  </div>