---
// No script needed for this static component

---

		<!-- Footer
		============================================= -->
		<footer id="footer" class="border-0" style="background-color: #155BBC; padding-top: 20px">

			<div class="container">

				<!-- Footer Widgets
				============================================= -->
				<div class="footer-widgets-wrap dark pb-5">

					<div class="row">

						<div class="col-lg-2 col-md-2 col-6">
							<div class="widget">

								<h4 class="ls-0 mb-4 text-transform-none text-white">Features</h4>

								<ul class="list-unstyled ms-0">
									<li class="mb-2"><a href="#">Help Center</a></li>
									<li class="mb-2"><a href="#">Paid with Moblie</a></li>
									<li class="mb-2"><a href="#">Status</a></li>
									<li class="mb-2"><a href="#">Contact Support</a></li>
								</ul>

							</div>
						</div>
						<div class="col-lg-2 col-md-2 col-6">
							<div class="widget">

								<h4 class="ls-0 mb-4 text-transform-none text-white">Support</h4>

								<ul class="list-unstyled ms-0">
									<li class="mb-2"><a href="#">Home</a></li>
									<li class="mb-2"><a href="#">About</a></li>
									<li class="mb-2"><a href="#">FAQs</a></li>
									<li class="mb-2"><a href="#">Support</a></li>
								</ul>

							</div>
						</div>
						<div class="col-lg-2 col-md-2 col-6">
							<div class="widget">

								<h4 class="ls-0 mb-4 text-transform-none text-white">Trending</h4>

								<ul class="list-unstyled ms-0">
									<li class="mb-2"><a href="#">Shop</a></li>
									<li class="mb-2"><a href="#">Portfolio</a></li>
									<li class="mb-2"><a href="#">Blog</a></li>
								</ul>

							</div>
						</div>
						<div class="col-lg-2 col-md-2 col-6">
							<div class="widget">

								<h4 class="ls-0 mb-4 text-transform-none text-white">Get to Know us</h4>

								<ul class="list-unstyled ms-0">
									<li class="mb-2"><a href="#">Corporate</a></li>
									<li class="mb-2"><a href="#">Agency</a></li>
									<li class="mb-2"><a href="#">eCommerce</a></li>
									<li class="mb-2"><a href="#">Personal</a></li>
								</ul>

							</div>
						</div>

						<!-- <div class="col-lg-4 col-md-4">
							<div id="instagram" class="widget">

								<h4 class="ls-0 mb-4 text-transform-none text-white">Instagram Photos</h4>
								<div id="instagram-photos" class="instagram-photos masonry-thumbs grid-container row row-cols-5 customjs" data-user="blog.canvastemplate" data-count="10"></div>

							</div>
						</div> -->

						<div class="line"></div>

						<div class="row">
							<div class="col-sm-3">
								<a href="index.html"><img src="demos/coworking/images//logo-footer.png" alt="Logo Footer" class="mb-4" height="20"></a>
								<p class="text-white-50">New opportunities in work spaces foster creative work experiences.</p>
								<a href="#" class="social-icon si-small bg-light" title="Facebook">
									<i class="fa-brands fa-facebook-f"></i>
									<i class="fa-brands fa-facebook-f"></i>
								</a>
								<a href="#" class="social-icon si-small bg-light" title="Twitter">
									<i class="fa-brands fa-x-twitter"></i>
									<i class="fa-brands fa-x-twitter"></i>
								</a>
								<a href="#" class="social-icon si-small bg-light" title="Github">
									<i class="fa-brands fa-github"></i>
									<i class="fa-brands fa-github"></i>
								</a>
								<a href="#" class="social-icon si-small bg-light" title="instagram">
									<i class="bi-instagram"></i>
									<i class="bi-instagram"></i>
								</a>
							</div>
							<div class="col-sm-9">
								<ul class="list-numbers">
									<!-- <li class="text-white-50 fw-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores voluptatum corporis, repellat assumenda, cumque labore nam fuga deserunt harum, magni asperiores iure? Quos nobis molestiae dolorum obcaecati ad omnis, sint.</li> -->
									<li class="text-white-50 fw-light mb-0">Completely embrace real-time systems whereas fully tested schemas. Synergistically actualize state of the art functionalities vis-a-vis cross-platform data. Conveniently reinvent web-enabled bandwidth via cost effective e-tailers. Proactively engage compelling outsourcing after virtual synergy. Distinctively formulate granular.
									</li>
								</ul>
							</div>
						</div>

					</div>

				</div>

			</div>

			<!-- Copyrights
			============================================= -->
			<div id="copyrights" class="bg-transparent dark pt-0">

				<div class="line mt-0"></div>

				<div class="container">

					<div class="row">
						<div class="col-12">
							<p class="mb-2 text-white-50">Copyrights &copy; 2024 All Rights Reserved by HekaTek Inc.</p>
							<div class="copyright-links text-white-50"><a href="#" class="text-white-50">Terms of Use</a> / <a href="#" class="text-white-50">Privacy Policy</a></div>
						</div>
					</div>

				</div>

			</div><!-- #copyrights end -->

		</footer><!-- #footer end -->

	</div><!-- #wrapper end -->
