<footer
id="footer"
class="border-0"
style="background-color: #155bbc; padding-top: 40px"
>
<div class="container">
  <!-- Footer Widgets

		============================================= -->

  <div class="footer-widgets-wrap dark pb-2">
	<div class="row w-auto">
		<div class="col-lg-3 col-md-2 col-6 me-5" style="margin-right: 50px;">
			<a href="index.html"
			  ><img
				src="page/coworking/images/CL-footer.png"
				alt="Logo Footer"
				class="mb-4"
				height="20"
			/></a>
  
			<p class="text-white-50">
			  Empowering collaboration and innovation in every workspace.
			</p>
  
			<a
			  href="#"
			  class="social-icon si-small bg-light"
			  title="Facebook"
			>
			  <i class="fa-brands fa-facebook-f"></i>
  
			  <i class="fa-brands fa-facebook-f"></i>
			</a>
  
			<a
			  href="#"
			  class="social-icon si-small bg-light"
			  title="Twitter"
			>
			  <i class="fa-brands fa-x-twitter"></i>
  
			  <i class="fa-brands fa-x-twitter"></i>
			</a>
  
			<a
			  href="#"
			  class="social-icon si-small bg-light"
			  title="Github"
			>
			  <i class="fa-brands fa-github"></i>
  
			  <i class="fa-brands fa-github"></i>
			</a>
  
			<a
			  href="#"
			  class="social-icon si-small bg-light"
			  title="instagram"
			>
			  <i class="bi-instagram"></i>
  
			  <i class="bi-instagram"></i>
			</a>
		  </div>
		
	  <div class="col-lg-2 col-md-2 col-6">
		<div class="widget">
		  <h4 class="ls-0 mb-4 text-transform-none text-white">
			Services
		  </h4>

		  <ul class="list-unstyled ms-0">
			<li class="mb-2"><a href="#">Workspace Options</a></li>

			<li class="mb-2"><a href="#">Meeting Rooms</a></li>

			<li class="mb-2"><a href="#">Membership Plans</a></li>

			<li class="mb-2"><a href="#">Event Spaces</a></li>
		  </ul>
		</div>
	  </div>

	  <div class="col-lg-2 col-md-2 col-6">
		<div class="widget">
		  <h4 class="ls-0 mb-4 text-transform-none text-white">
			Resources
		  </h4>

		  <ul class="list-unstyled ms-0">
			<li class="mb-2"><a href="#">Knowledge Base</a></li>

			<li class="mb-2"><a href="#">User Guides</a></li>

			<li class="mb-2"><a href="#">Payment Options</a></li>

			<li class="mb-2"><a href="#">Technical Support</a></li>
		  </ul>
		</div>
	  </div>

	  <div class="col-lg-2 col-md-2 col-6">
		<div class="widget">
		  <h4 class="ls-0 mb-4 text-transform-none text-white">
			Company
		  </h4>

		  <ul class="list-unstyled ms-0">
			<li class="mb-2"><a href="#">Our Story</a></li>

			<li class="mb-2"><a href="#">Careers</a></li>

			<li class="mb-2"><a href="#">News & Updates</a></li>
		  </ul>
		</div>
	  </div>

	  <div class="col-lg-2 col-md-2 col-6">
		<div class="widget">
		  <h4 class="ls-0 mb-0 text-transform-none text-white" >
			Explore
		  </h4>

		  <ul class="list-unstyled ms-0" style="margin-top: 22px;">
			<li class="mb-2"><a href="#">Home</a></li>

			<li class="mb-2"><a href="#">About Us</a></li>

			<li class="mb-2"><a href="#">Rates</a></li>

			<li class="mb-2"><a href="#">Book</a></li>

			<li class="mb-2"><a href="#">Contact Us</a></li>
		  </ul>
		</div>
	</div>
		
  </div>
</div>

<!-- Copyrights

	============================================= -->

<div id="copyrights" class="bg-transparent dark pt-0 ">
  <div class="line mt-0"></div>

  <div class="container">
	<div class="row">
	  <div class="col-12">
		<p class="mb-2 text-white-50">
		  Copyrights &copy; 2024 All Rights Reserved by Hekatek
		</p>

		<div class="copyright-links text-white-50">
		  <a href="#" class="text-white-50">Terms of Use</a> /
		  <a href="#" class="text-white-50">Privacy Policy</a>
		</div>
	  </div>
	</div>
  </div>
</div>
<!-- #copyrights end -->
</footer>