
<div class="section bg-transparent">
    <div class="container">
      <div class="heading-block border-bottom-0 text-center">
        <div class="before-heading">Office Space Gallery</div>

        <h2 class="text-transform-none fw-semibold mb-0">Gallery</h2>
      </div>
    </div>

    <div
      id="image-carousel"
      class="owl-carousel carousel-widget"
      data-margin="24"
      data-nav="true"
      data-pagi="true"
      data-items-xs="1"
      data-items-sm="1"
      data-items-md="1"
      data-items-lg="2"
      data-items-xl="2"
      style="padding: 0 20px"
      data-lightbox="gallery"
    >
      <div class="slide slide--1">
        <div class="carousel-column-container">
          <ul class="carousel-column column-1">
            <li class="carousel-grid-item">
              <a
                href="/page/coworking/images/gallery/1.jpg"
                data-lightbox="gallery-item"
                class="item"
                style="
                  background-image: url('/page/coworking/images/gallery/1.jpg');
                "
              ></a>
            </li>

            <li class="carousel-grid-item">
              <a
                href="/page/coworking/images/gallery/2.jpg"
                data-lightbox="gallery-item"
                class="item"
                style="
                  background-image: url('/page/coworking/images/gallery/2.jpg');
                "
              ></a>
            </li>
          </ul>

          <ul class="carousel-column column-2">
            <li class="carousel-grid-item">
              <a
                href="/page/coworking/images/gallery/3.jpg"
                data-lightbox="gallery-item"
                class="item"
                style="
                  background-image: url('/page/coworking/images/gallery/3.jpg');
                  min-height: 300px;
                "
              ></a>
            </li>

            <li class="carousel-grid-item">
              <a
                href="/page/coworking/images/gallery/4.jpg"
                data-lightbox="gallery-item"
                class="item"
                style="
                  background-image: url('/page/coworking/images/gallery/4.jpg');
                  min-height: 280px;
                "
              ></a>
            </li>

            <li class="carousel-grid-item">
              <a
                href="/page/coworking/images/gallery/5.jpg"
                data-lightbox="gallery-item"
                class="item"
                style="
                  background-image: url('/page/coworking/images/gallery/5.jpg');
                  min-height: 200px;
                "
              ></a>
            </li>
          </ul>
        </div>
      </div>

      <div class="slide slide--2">
        <div class="carousel-column-container">
          <ul class="carousel-column column-1">
            <li class="carousel-grid-item">
              <a
                href="/page/coworking/images/gallery/6.jpg"
                data-lightbox="gallery-item"
                class="item"
                style="
                  background-image: url('/page/coworking/images/gallery/6.jpg');
                  min-height: 324px;
                "
              ></a>
            </li>

            <li class="carousel-grid-item">
              <div
                class="item bg-color d-flex align-items-center px-4"
                style="min-height: 480px"
              >
                <blockquote class="blockquote border-0 mb-0">
                  <p class="mb-3 text-white">
                    "The spirit of Creative Lofts allows you to find
                    co-workers who're worth working with."
                  </p>

                  <footer
                    class="blockquote-footer text-white-50 fst-italic"
                  >
                    Cynthia Chiam
                  </footer>
                </blockquote>
              </div>
            </li>
          </ul>

          <ul class="carousel-column column-2">
            <li class="carousel-grid-item">
              <a
                href="/page/coworking/images/gallery/8.jpg"
                data-lightbox="gallery-item"
                class="item"
                style="
                  background-image: url('/page/coworking/images/gallery/8.jpg');
                "
              ></a>
            </li>

            <li class="carousel-grid-item">
              <a
                href="/page/coworking/images/gallery/9.jpg"
                data-lightbox="gallery-item"
                class="item"
                style="
                  background-image: url('/page/coworking/images/gallery/9.jpg');
                "
              ></a>
            </li>

            <li class="carousel-grid-item">
              <a
                href="/page/coworking/images/gallery/10.jpg"
                data-lightbox="gallery-item"
                class="item"
                style="
                  background-image: url('/page/coworking/images/gallery/10.jpg');
                "
              ></a>
            </li>
          </ul>
        </div>
      </div>

      <div class="slide slide--3">
        <div class="carousel-column-container">
          <ul class="carousel-column column-1">
            <li class="carousel-grid-item">
              <a
                href="/page/coworking/images/gallery/11.jpg"
                data-lightbox="gallery-item"
                class="item bg-color d-flex align-items-center px-4 img-overlay"
                style="
                  background-image: url('/page/coworking/images/gallery/11.jpg');
                  min-height: 350px;
                "
              >
                <blockquote class="blockquote border-0 mb-0">
                  <p class="mb-3 text-white">
                    "I belive in collaboration rather than competition"
                  </p>

                  <footer
                    class="blockquote-footer text-white-50 fst-italic"
                  >
                    Cynthia Chiam
                  </footer>
                </blockquote>
              </a>
            </li>

            <li class="carousel-grid-item">
              <a
                href="/page/coworking/images/gallery/12.jpg"
                data-lightbox="gallery-item"
                class="item"
                style="
                  background-image: url('/page/coworking/images/gallery/12.jpg');
                  min-height: 453px;
                "
              ></a>
            </li>
          </ul>

          <ul class="carousel-column column-2">
            <li class="carousel-grid-item">
              <a
                href="/page/coworking/images/gallery/13.jpg"
                data-lightbox="gallery-item"
                class="item"
                style="
                  background-image: url('/page/coworking/images/gallery/13.jpg');
                "
              ></a>
            </li>

            <li class="carousel-grid-item">
              <a
                href="/page/coworking/images/gallery/14.jpg"
                data-lightbox="gallery-item"
                class="item"
                style="
                  background-image: url('/page/coworking/images/gallery/14.jpg');
                "
              ></a>
            </li>

            <li class="carousel-grid-item">
              <a
                href="/page/coworking/images/gallery/15.jpg"
                data-lightbox="gallery-item"
                class="item"
                style="
                  background-image: url('/page/coworking/images/gallery/15.jpg');
                "
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>