---
// Header.astro
import Logo from '../../public/demos/coworking/images/logo.png'
---

<header id="header" class="border-bottom-0" data-sticky-shrink="false">
    <div id="header-wrap">
        <div class="container">
            <div class="header-row">
                <div id="logo">
                    <a href="demo-coworking.html">
                        <img src={Logo.src} alt="Canvas Logo" class="logo-default"/>
                        <!-- More images as needed -->
                    </a>
                </div>
                <!-- Include other header parts here -->
            </div>
        </div>
    </div>
</header>
